header {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
}

.wrappper {
    position: relative;
}

.headerBox {
    position: absolute;
    right: 0;
    bottom: 15%;
    width: 40vw;
}


.headerHome {
        background-image: url(../planted-final-assets/home-image-1.jpg);
       

}

.headerBlog {
    background-image: url(../planted-final-assets/blog-header-1.jpg);
    background-position: center;
    
}

.headerContact {
    background-image: url(../planted-final-assets/contact-header-1.jpg);
    
}

nav {
    ul {
        list-style-type: none;
        text-transform: uppercase;
        margin: 0;
        padding: 0;
    }
    
li {
    text-align: center;
}

a {
    color: #FFFF;
    text-decoration: none;
    font-size: 0.75rem;
}
.currentPage a {
    color: #F8E71C;
}

}


.topBar {
    display:flex;
    background-color: #000000;
}

.topBar.home {
    background-color: transparent;
}

.logo {
    color: #FFFF;
    font-size: 2rem;
    font-weight: 400;
}

.nav {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
    flex-grow: 0.25;
}

.welcome {
    margin: 0 25%;
    padding: 15vh 0;
    position: relative;
    z-index: 2;
h1 {
    font-weight: 400;
    // display: flex;
    // flex-direction: column;
    // align-items: flex-start;
    span {
        color:#FFFF;
    }

}
}

.blog {
    padding-top: 20%;
    padding-bottom: 5%;
}
