html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
  font-family: "Josefin Sans", sans-serif;
  background-color: #F0EFED;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

p {
  font-family: "Roboto", sans-serif;
}

h1 {
  color: #F8E71C;
  font-size: 6rem;
  margin: 0 auto;
}

h1, h2, h3, h4, nav, button {
  font-weight: 700;
}

button {
  background-color: #0E902D;
  color: white;
  font-size: 0.7rem;
  letter-spacing: 0.1rem;
  border: none;
  padding: 10px 15px;
  text-align: center;
}

input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 2px solid #0E902D;
}

textarea {
  width: 100%;
  height: 200px;
  padding: 20px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #0E902D;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header {
  background-size: contain;
  background-repeat: no-repeat;
}

.headerHome {
  background-image: url(../planted-final-assets/home-image-1.jpg);
  height: 90vh;
}

.headerBlog {
  background-image: url(../planted-final-assets/blog-header-1.jpg);
  height: 75vh;
}

.headerContact {
  background-image: url(../planted-final-assets/contact-header-1.jpg);
  height: 75vh;
}

nav ul {
  list-style-type: none;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
nav li {
  text-align: center;
}
nav a {
  color: white;
  text-decoration: none;
  font-size: 0.75rem;
}

.topBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #000000;
}

.logo {
  color: white;
  font-size: 2rem;
  font-weight: 400;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-flex: 0.25;
      -ms-flex-positive: 0.25;
          flex-grow: 0.25;
}

.welcome h1 {
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.welcome h1 span {
  color: white;
}

.whatIs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sectionOne {
  background-color: white;
}

.upcoming {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.discover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.leftFlowers img {
  -webkit-box-shadow: 15px 15px #F8E71C;
          box-shadow: 15px 15px #F8E71C;
}

.rightFlowers img {
  -webkit-box-shadow: -15px 15px #F8E71C;
          box-shadow: -15px 15px #F8E71C;
}

.sectionTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.imgContainer img {
  width: 100%;
}

.founder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.founder img {
  -webkit-box-shadow: 15px 15px #F8E71C;
          box-shadow: 15px 15px #F8E71C;
}

.gallery {
  background-color: white;
}
.gallery ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.galleryFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
}
.galleryFlex li {
  -ms-flex-preferred-size: 33.3333333333%;
      flex-basis: 33.3333333333%;
}

footer {
  background: #2C2C2C;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

@media (max-width: 800px) {
  .galleryFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .galleryFlex li {
    width: 75%;
  }
}